// Spacing
$space-1: 0.2rem; // default 2px
$space-2: 0.4rem; // default 4px
$space-3: 0.6rem; // default 6px
$space-4: 1rem; // default 10px
$space-5: 1.6rem; // default 16px
$space-6: 2rem; // default 20px
$space-7: 2.4rem; // default 24px
$space-8: 4rem; // default 40px

// Colours
$white: #fff;
$black: #222;
$dark-grey: #646464;
$grey: #b6b6b6;
$light-grey: #e4e4e4;
$blue: #7a79c8;
$green: #5cc542;
$red: #e45454;
$die: #e8d0ad;
$die-hex: e8d0ad;

// Font Sizes
$title: 7.2rem;
$header-1: 4.8rem;
$header-2: 3.6rem;
$text: 2.4rem;

// Font Weight
$fw-fine: 200;
$fw-normal: 400;
$fw-semi-bold: 500;
$fw-bold: 600;

// Lines
$line-thin: 1px;
$line-normal: 2px;
$line-thick: 5px;

// Layout
$combatant-width: 40%;
